{{!-- template-lint-disable  no-nested-interactive --}}
<th data-sort-order={{order}} class="{{view.className}} topic-list-data" scope="col" aria-label={{ariaLabel}} tabindex={{if sortable "0"}} role="button" aria-pressed={{view.ariaPressed}} aria-sort={{view.ariaSort}}>
  {{~#if canBulkSelect}}
    {{~#if showBulkToggle}}
      {{raw "flat-button" class="bulk-select" icon="list" title="topics.bulk.toggle"}}
    {{/if~}}
    {{~#if bulkSelectEnabled}}
      <span class="bulk-select-topics">
        {{~#if canDoBulkActions}}
          <button class="btn btn-icon no-text bulk-select-actions" type="button">{{d-icon "cog"}}&#8203;</button>
        {{/if~}}
        <button class="btn btn-default bulk-select-all" type="button">{{i18n "topics.bulk.select_all"}}</button>
        <button class="btn btn-default bulk-clear-all" type="button">{{i18n "topics.bulk.clear_all"}}</button>
      </span>
    {{/if~}}
  {{/if~}}
  {{view.localizedName}}
  {{~#if view.isSorting}}
    {{d-icon view.sortIcon}}
  {{/if~}}
</th>
