{{#if (eq @tagName "div")}}
  <div class="num posts-map posts {{likesHeat}} topic-list-data" title={{title}}>
    <button class="btn-link posts-map badge-posts {{likesHeat}}" type="button">
      {{raw-plugin-outlet name="topic-list-before-reply-count" context=(hash topic=@topic)}}
      {{number @topic.replyCount noTitle="true" ariaLabel=title}}
    </button>
  </div>
{{else}}
  {{!-- TODO: Remove this branch when topic-lists are de-tablified --}}
  <td class="num posts-map posts {{likesHeat}} topic-list-data" title={{title}}>
    <button class="btn-link posts-map badge-posts {{likesHeat}}" type="button">
      {{raw-plugin-outlet name="topic-list-before-reply-count" context=(hash topic=@topic)}}
      {{number @topic.replyCount noTitle="true" ariaLabel=title}}
    </button>
  </td>
{{/if}}
