{{~#if shouldRender ~}}
  <div class="topic-statuses">
    {{~#each statuses as |status|~}}
      {{~#if status.aTag ~}}
        <a href={{status.href}} title={{status.title}} class="topic-status {{status.extraClasses}}">{{d-icon status.icon class=status.key}}</a>
      {{~else~}}
        <span title={{status.title}} class="topic-status {{status.extraClasses}}">{{d-icon status.icon class=status.key}}</span>
      {{~/if~}}
    {{~/each}}
  </div>
{{/if~}}
