<li class={{className}}>
  {{#if this.url}}
    <a href={{this.url}}>
      {{d-icon this.icon}}
      <div>
        <this.contentComponent @notification={{@notification}}/>
      </div>
    </a>
  {{else}}
    {{d-icon this.icon}}
    <div>
      <this.contentComponent @notification={{@notification}}/>
    </div>
  {{/if}}
</li>
