<UserMenu::NotificationItemStructure
  @notification={{@notification}}
  @url={{this.url}}
  @title={{this.title}}
>
  <span>{{this.username}}</span>
  {{i18n "notifications.liked_consolidated_description" count=this.data.count}}
</UserMenu::NotificationItemStructure>
