{{#if this.loading}}
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
{{else if this.items.length}}
  <ul>
    {{#each this.items as |notification|}}
      {{#if notification.component}}
        <notification.component @notification={{notification}}/>
      {{else}}
        <UserMenu::DefaultNotificationItem @notification={{notification}}/>
      {{/if}}
    {{/each}}
  </ul>
  <div class="panel-body-bottom">
    <a class="btn btn-default btn-icon no-text show-all">
      {{d-icon "chevron-down"}}
    </a>
  </div>
{{else}}
  {{! TODO: blank page syndrome}}
  <h1>nothing here bro</h1>
{{/if}}
